<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end">
                hola {{usuario}}<a class="btn btn-danger">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>


<!---{{usuario}} lo saco de novedades.js usuario: req.session.nombre,--->