<main class="holder">
       <h2>galeria</h2>
       <div class="galeria">
           <div class="foto">
               <img src="images/img/galeria/ch/img01.jpg" alt="">
           </div>
           <div class="foto">
                <img src="images/img/galeria/ch/img02.jpg" alt="">
           </div>
           <div class="foto">
                <img src="images/img/galeria/ch/img03.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img04.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img05.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img06.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img07.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img01.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img02.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/img/galeria/ch/img03.jpg" alt="">
        </div>

       </div>
       
    </main>