<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum a, aliquid officia quaerat exercitationem eum ut maxime fugiat omnis minus illo suscipit dignissimos, quas perspiciatis, eaque porro sit magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, beatae sapiente repellendus quasi qui, dicta cumque, illo consequatur veritatis iste reprehenderit accusantium autem laborum. Autem illo dolores ad animi architecto.</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">simplemente excelente</span>
                    <span class="autor">juan gomez--sapunto.com</span>

                </div>
            </div>
        </div>

    </main>
