<main class="holder">
        <div class="historia">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis quos commodi alias at nostrum enim sunt, velit culpa est laboriosam quaerat repellendus repellat sit minima, animi officiis, officia assumenda? Praesentium!</p>
            <p>Aliquam neque possimus incidunt provident eligendi consectetur nemo dolorum, culpa nobis ipsa inventore nulla repudiandae! Alias, expedita? Deserunt nostrum libero</p> 
        </div>
        <div class="staf">
            <h2>staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>juan garcia</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque inventore modi quisquam aspernatur eius qui enim, dolorum rem, porro quo ea omnis dolorem ex illum aliquam adipisci itaque iste.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>juan garcia</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque inventore modi quisquam aspernatur eius qui enim, dolorum rem, porro quo ea omnis dolorem ex illum aliquam adipisci itaque iste.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>juan garcia</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque inventore modi quisquam aspernatur eius qui enim, dolorum rem, porro quo ea omnis dolorem ex illum aliquam adipisci itaque iste.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>juan garcia</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque inventore modi quisquam aspernatur eius qui enim, dolorum rem, porro quo ea omnis dolorem ex illum aliquam adipisci itaque iste.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>juan garcia</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque inventore modi quisquam aspernatur eius qui enim, dolorum rem, porro quo ea omnis dolorem ex illum aliquam adipisci itaque iste.</p>
                </div>
                
            </div>
        </div>
        

    </main>