<main class="holder">
       <h2>novedades</h2>
       <div class="novedades">
           <h3>titulo</h3>
           <h4>subtitulo</h4>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora magnam perspiciatis labore maiores! Est iusto eius et in a, eveniet amet id! Quasi nulla explicabo quos error, odio aliquam necessitatibus!</p>
       </div>
       <hr>
       <div class="novedades">
        <h3>titulo</h3>
        <h4>subtitulo</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora magnam perspiciatis labore maiores! Est iusto eius et in a, eveniet amet id! Quasi nulla explicabo quos error, odio aliquam necessitatibus!</p>
        </div>
        <hr>
        <div class="novedades">
        <h3>titulo</h3>
        <h4>subtitulo</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora magnam perspiciatis labore maiores! Est iusto eius et in a, eveniet amet id! Quasi nulla explicabo quos error, odio aliquam necessitatibus!</p>
        </div>
        <hr>
        <div class="novedades">
        <h3>titulo</h3>
        <h4>subtitulo</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora magnam perspiciatis labore maiores! Est iusto eius et in a, eveniet amet id! Quasi nulla explicabo quos error, odio aliquam necessitatibus!</p>
        </div>
       

    
       
    </main>