<main class="holder">
       <h2>SERVICIOS</h2>
       </div>
       <div class="servicios">
        <img src="images/servicios/aereo.jpg" alt="">
        <div class="info">
           <h4>transporte aereo</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae facilis dolores quo vitae a non iure quaerat rerum nemo, eos aliquid ex ratione modi cum, quos soluta aliquam. Fuga?</p>

         </div>
    </div>
    <div class="servicios">
        <img src="images/servicios/ferroviario.jpg" alt="">
        <div class="info">
           <h4>transporte ferroviario</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae facilis dolores quo vitae a non iure quaerat rerum nemo, eos aliquid ex ratione modi cum, quos soluta aliquam. Fuga?</p>

         </div>
    </div>
    <div class="servicios">
        <img src="images/servicios/maritimo.jpg" alt="">
        <div class="info">
           <h4>transporte maritimo</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae facilis dolores quo vitae a non iure quaerat rerum nemo, eos aliquid ex ratione modi cum, quos soluta aliquam. Fuga?</p>

         </div>
    </div>
    <div class="servicios">
        <img src="images/servicios/terrestre.jpg" alt="">
        <div class="info">
           <h4>transporte terrestre</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae facilis dolores quo vitae a non iure quaerat rerum nemo, eos aliquid ex ratione modi cum, quos soluta aliquam. Fuga?</p>

         </div>
    </div>
    </main>